@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade_rule {
  height: 1px;
  background-color: #E6E6E6;
  width: 66.0em;
  margin: 0 auto;
  background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, black), color-stop(0.5, gray), color-stop(0.98, black) );
}